<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>heath investigations</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <header>
      <nav id="navi" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Heath, Heath & Associates Inc.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Investigative-Highlights">Investigative Highlights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Contact">Contact</a>
            </li>
          </ul>
            <button class="btn btn-outline-success my-2 my-sm-0">Free Consultation 918-123-4567</button>
        </div>
      </nav>
    </header>

      <div class="header">
        <img src="~/images/downtown-tulsa.jpg">
      </div>
      <div class="marketing">

        <!-- START THE FEATURETTES -->

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Who we are</h2>
            <div class="divider div-transparent div-arrow-down"></div>
            <p class="lead">Heath, Heath & Associates, Inc. is a full-service private investigative agency servicing businesses, insurance companies, attorneys and individuals; defending them in the fight against fraud, theft, employee misconduct, Security Consulting and other investigative inquiry requests.  Our services are offered throughout the state of Oklahoma.  Our goal is to provide superior results and unmatched customer service in defense of our client’s interests.  We pride ourselves in the ability to meet our client’s objectives and exceed their expectations in an expedient and ethical manner while maintaining client confidentiality, at a reasonable rate.  </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="~/images/boston-ave.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <div class="row featurette second" style="background-color: rgba(0,0,0,0.8);">
          <div class="triangle triangle-5"></div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Business Philosophy</h2>
            <div class="divider div-transparent div-arrow-down dos"></div>
            <p class="lead">Our philosophy is simple, give the client more than they pay for. Never compromise our honesty or the confidential nature of our business and always work to exceed their expectations. The strength of Heath, Heath & Associates, Inc. lies in the fact that we have the flexibility and creativity to deliver that which the client requests based upon their needs, without cutting corners. It is our mission to provide clients with the kind of investigative services they require in the most efficient, cost effective and comprehensive manner possible.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto"src="~/images/boston-ave.jpg" alt="Generic placeholder image">
          </div>
        </div>

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
      <!-- FOOTER -->
      <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <a class="navbar-brand" href="#">Heath, Heath<br> & Associates Inc.</a>
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="~/js/site.js"></script> 
</body>
</html>