.header{
    width: 100%;
    height: 500px;
}
.header img{
    width: 100%;
    height: 100%;
}
.triangle {
    display: block;
    margin: 0 auto;
  }
.triangle-5 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: solid 20px black;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}