.navbar.navbar-dark{
    background-color: transparent!important;
}
.header{
    width: 100%;
    height: 600px;
}
.header img{
    width: 100%;
    height: 100%;
}
.row.featurette{
    margin-top: 30px;
}
.row.featurette.second{
    color: white;
}
.featurette-heading{
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}
.triangle {
    display: block;
    left: 50%;
  }
.triangle-5 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: solid 20px white;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}