#navi{
    background-color: transparent!important;
}
/* .navbar-brand{
    color: rgba(242, 38, 19, 1)!important;
} */
.nav-item .nav-link{
    color: rgba(255,255,255,0.8)!important;
    
}
.nav-item.active .nav-link{
    color: rgba(255,255,255,1)!important;
}
.nav-item.active .nav-link::after{
    margin: auto;
    height: 2px;
    width: 100%;
    background: rgba(242, 38, 19, 1);
    transition: width .5s ease, background-color .5s ease;
}

.nav-item .nav-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.nav-item .nav-link:hover:after {
    width: 100%;
    background: rgba(242, 38, 19, 1);
}
.nav-item .nav-link:hover{
    color: rgba(255,255,255,1)!important;
}

.btn.btn-outline-success.my-2.my-sm-0{
    background-color: rgba(242, 38, 19, 1);
    color: white;
    border: 1px solid black;
}
.btn.btn-outline-success.my-2.my-sm-0:hover{
    background-color: rgba(242, 38, 19, 0.7);
    border: 1px solid white;
}
.header{
    width: 100%;
    height: 550px;
}
.header img{
    width: 100%;
    height: 100%;
}
.row.featurette{
    margin-top: 30px;
    padding: 0;
    width: 101.5%;
    padding: 2% 0;
    padding-left: 1%;
}
.row.featurette.second{
    color: white;
}
.featurette-heading{
    text-align: center;
}
.divider
{
	position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0%;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.div-transparent.dos:before{
    background-image: linear-gradient(to right, transparent, rgb(255,255,255), transparent);
}
.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: rgb(48,49,51);
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}
.div-arrow-down.dos:after{
    background-color: rgb(255,255,255);
	border-bottom: 1px solid rgb(255,255,255);
	border-right: 1px solid rgb(255,255,255);
}
.triangle {
    display: block;
    left: 50%;
    margin-top: -2%;
  }
.triangle-5 {
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: solid 20px white;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}